<h2>Encomenta cancelada</h2>
<strong>Olá, {{ deliveryman }}</strong>
<p>Sua encomenda foi cancelada por causa do problema relatado:</p>
<br />
<strong>Problema: {{problem}}</strong>
<p>
  <h1>Encomenta</h1>
  <strong>Encomenta: </strong>{{ product }}<br />
  <strong>Data: </strong> {{ date }} <br />
  <small>
    Vá retirar o produto na loja.
  </small>
</p>
