<h2>Encomenta cadastrada para você</h2>
<strong>Olá, {{ deliveryman }}</strong>
<p>Uma encomenta foi cadastrada para você no sistema, elá ja está disponível para
  retirada.
</p>
<p>
  <h1>Encomenta</h1>
  <strong>Encomenta: </strong>{{ product }}<br />
  <strong>Data: </strong> {{ date }} <br />
  <small>
    Vá retirar o produto na loja.
  </small>
</p>
